In [24]:
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, OrdinalEncoder
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import matplotlib as plt

In [25]:
mortgage_merged = pd.read_csv('https://raw.githubusercontent.com/rparikh16/Data-Analysis-Project---Group-12/main/Canada_Mortgages_filtered.csv')
mortgage_merged.head()

,Unnamed: 0,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,0,0.3550,219191.50,0.314292
1,1,0.3500,231196.75,0.290257
2,2,0.3525,247453.25,0.274011
3,3,0.3500,266337.50,0.279614
4,4,0.3125,279651.75,0.248447

In [26]:
mortgage_merged.columns

Index(['Unnamed: 0', 'Mortgage_delinquency_rate', 'Average_Value_New_Loans',
       'Residential_Mortgage_Arrears_Rates'],
      dtype='object')

In [27]:
mortgage_merged = mortgage_merged.drop('Unnamed: 0', axis=1).reset_index(drop=True)
mortgage_merged

,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,0.3550,219191.50,0.314292
1,0.3500,231196.75,0.290257
2,0.3525,247453.25,0.274011
3,0.3500,266337.50,0.279614
4,0.3125,279651.75,0.248447
5,0.2875,277114.00,0.243891
6,0.2950,276762.25,0.200000
7,0.4675,282466.25,0.418389
8,0.3625,298145.00,0.306694
9,0.3400,304252.50,0.274545
10,0.4800,300443.25,0.407161
11,0.5175,304217.00,0.442388
12,0.4825,301467.50,0.472816
13,0.5125,295123.50,0.520000
14,0.4275,296624.75,0.457500
15,0.4075,314877.50,0.397500
16,0.3600,340315.75,0.317500
17,0.2800,379173.00,0.240000
18,0.1975,374620.50,0.167500
19,0.1675,374792.75,0.160000
20,0.1650,372500.00,0.140000
21,0.2900,239251.50,0.204866
22,0.2725,251246.75,0.181919
23,0.2475,268252.00,0.153495
24,0.2125,295313.75,0.133884
25,0.1625,327009.00,0.104340
26,0.1400,321675.25,0.098769
27,0.1400,333009.75,0.090000
28,0.3425,156146.00,0.317046
29,0.3725,160772.00,0.344120
30,0.4150,165241.25,0.360460
31,0.4225,170827.75,0.356993
32,0.3800,173549.00,0.307286
33,0.3550,180110.50,0.295935
34,0.3700,181454.50,0.270000

In [31]:
market_indicators_merged = pd.read_csv('https://raw.githubusercontent.com/rparikh16/Data-Analysis-Project---Group-12/main/Housing_Indicators_cleaned-2.csv')
market_indicators_merged.head()

,Unnamed: 0,Unnamed: 0.1,Years,Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposable_Income_Percent_Change
0,7,7,2013,64600,0.938292,66.458333,7.100000,3.182510
1,8,8,2014,66300,1.906636,65.991667,6.900000,1.224499
2,9,9,2015,66400,1.125241,65.850000,6.900000,3.360780
3,10,10,2016,66100,1.428760,65.700000,7.000000,3.197338
4,11,11,2017,68100,1.673978,66.659848,7.045455,3.197338

In [32]:
market_indicators_merged = market_indicators_merged.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1).reset_index(drop=True)
market_indicators_merged

,Years,Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposable_Income_Percent_Change
0,2013,64600,0.938292,66.458333,7.100000,3.182510
1,2014,66300,1.906636,65.991667,6.900000,1.224499
2,2015,66400,1.125241,65.850000,6.900000,3.360780
3,2016,66100,1.428760,65.700000,7.000000,3.197338
4,2017,68100,1.673978,66.659848,7.045455,3.197338
5,2018,68400,1.673978,66.659848,7.045455,3.197338
6,2019,69300,1.673978,66.659848,7.045455,3.197338
7,2013,87500,1.436254,73.141667,4.600000,4.933587
8,2014,88400,2.566755,72.716667,4.700000,3.715266
9,2015,87900,1.153555,73.016667,6.000000,2.837896
10,2016,83700,1.078083,72.516667,8.100000,4.737295
11,2017,84000,2.058457,73.475000,5.190909,4.737295
12,2018,82400,2.058457,73.475000,5.190909,4.737295
13,2019,82700,2.058457,73.475000,5.190909,4.737295
14,2013,66000,-0.063667,64.041667,6.600000,4.918212
15,2014,66200,0.998089,63.333333,6.100000,1.699068
16,2015,67000,1.079338,63.375000,6.200000,4.557259
17,2016,68300,1.879074,64.416667,6.000000,3.647196
18,2017,72100,1.297772,64.913636,6.200000,3.647196
19,2018,70400,1.297772,64.913636,6.200000,3.647196
20,2019,74800,1.297772,64.913636,6.200000,3.647196
21,2013,66500,1.054073,66.258333,7.600000,2.510899
22,2014,69000,2.309672,65.841667,7.300000,0.572354
23,2015,70600,1.218140,65.233333,6.800000,3.510248
24,2016,69900,1.785597,64.991667,6.500000,2.651190
25,2017,72100,1.775843,66.540152,7.372727,2.651190
26,2018,73500,1.775843,66.540152,7.372727,2.651190
27,2019,73000,1.775843,66.540152,7.372727,2.651190
28,2013,55000,0.779794,65.033333,7.600000,1.622761
29,2014,56400,1.383183,64.683333,7.700000,1.084678
30,2015,55400,1.073889,64.791667,7.600000,2.414392
31,2016,56800,0.694955,64.575000,7.100000,2.665919
32,2017,58000,1.479071,65.103030,7.709091,2.665919
33,2018,58200,1.479071,65.103030,7.709091,2.665919
34,2019,59800,1.479071,65.103030,7.709091,2.665919

In [33]:
final_cleaned_dataset = pd.concat([market_indicators_merged, mortgage_merged], axis=1)
final_cleaned_dataset.head()

,Years,Real_Median_Household_Income,Consumer_Price_Index_Percent_Change,Labour_Force_Participation_Rate,Unemployment_Rate,Real_Disposable_Income_Percent_Change,Mortgage_delinquency_rate,Average_Value_New_Loans,Residential_Mortgage_Arrears_Rates
0,2013,64600,0.938292,66.458333,7.100000,3.182510,0.3550,219191.50,0.314292
1,2014,66300,1.906636,65.991667,6.900000,1.224499,0.3500,231196.75,0.290257
2,2015,66400,1.125241,65.850000,6.900000,3.360780,0.3525,247453.25,0.274011
3,2016,66100,1.428760,65.700000,7.000000,3.197338,0.3500,266337.50,0.279614
4,2017,68100,1.673978,66.659848,7.045455,3.197338,0.3125,279651.75,0.248447

In [34]:
final_cleaned_dataset.to_csv('final_cleaned_data.csv', index=False)

In [35]:


corrdf=final_cleaned_dataset.apply(LabelEncoder().fit_transform)
sc = StandardScaler()
corrdf = sc.fit_transform(corrdf)
corrdf=pd.DataFrame(data=corrdf,columns=final_cleaned_dataset.columns)
corr=corrdf.corr()['Mortgage_delinquency_rate']
corr[np.argsort(corr,axis=0)[::-1]]

Mortgage_delinquency_rate                 1.000000
Residential_Mortgage_Arrears_Rates        0.964244
Real_Disposable_Income_Percent_Change     0.308583
Labour_Force_Participation_Rate           0.117530
Real_Median_Household_Income             -0.141039
Unemployment_Rate                        -0.141934
Consumer_Price_Index_Percent_Change      -0.162176
Years                                    -0.239036
Average_Value_New_Loans                  -0.351025
Name: Mortgage_delinquency_rate, dtype: float64

In [36]:
# Scale the data
scaler = StandardScaler()
features=scaler.fit_transform(final_cleaned_dataset.drop(['Mortgage_delinquency_rate'], axis=1))

In [37]:
# Split the data into features and target
#features= MF_df_scaled.drop(['Mortgage_delinquency_rate'], axis=1)
target=final_cleaned_dataset['Mortgage_delinquency_rate']

In [38]:
# Split the data into training and testing sets
X_train,X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [39]:
# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [40]:
# Evaluate the model on the testing set
y_pred = model.predict(X_test)

In [41]:
# Print accuracy
accuracy = model.score(X_test, y_test)
print("Accuracy: ", accuracy)

Accuracy:  0.9532126479832894

In [59]:
import numpy as np
from sklearn import preprocessing

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=1)

In [60]:
# Create a random forest classifier.
rfc_model = RandomForestClassifier(n_estimators=100, random_state=1)
rfc_model.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [62]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = rfc_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0